<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#follow-button').click(function () {
            var action = $(this).data('action');
            $.ajax({
                type: 'POST',
                data: {
                    action: action,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (response) {
                    if (response.is_following) {
                        $('#follow-button').data('action', 'unfollow').text('Unfollow: ' + response.followers_count);
                    } else {
                        $('#follow-button').data('action', 'follow').text('Follow: ' + response.followers_count);
                    }
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });

        $('#request_btn').click(function () {
            var action = $(this).data('action');
            $.ajax({
                type: 'POST',
                data: {
                    action: action,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (response) {
                    if (response.request_status) {
                        $('#request_btn').text("Request already sent");
                    } else {
                        $('#request_btn').text("Send Request");
                    }
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });
</script>

<body>
<h1>{{ community_data.name }}</h1>
{% for admin in community_data.admins.all %}
    {% if not community_data.is_private or community_data.is_private and  is_follow_user.exists or admin %}
        {% if request.user != admin and  not community_data.is_private or  is_follow_user.exists %}
            <button type="button" id="follow-button"
                    data-action="{% if user in community_followers %}unfollow{% else %}follow{% endif %}"
                    value="follow">
                {{ follow_value }}: {{ community_followers.count }}
            </button>
        {% endif %}
        <a href="{% url "community_followers" community_data.name %}"> Followers </a>
        <br>

        {% if user.id == admin.id and admin.is_owner == True %}
            <a href="/community/name-{{ name }}/admin-panel/">Admin panel</a>
            <div id="publication-form">{% include "publications/create_publication.html" with form=publication_form %}</div>
            <br>
        {% endif %}

        {% if community_data.posts.exists %}
            {% for post in community_data.posts.all %}

                <a id="community-post" href="/publication/{{ post.id }}/">{{ post.title }}</a>
            {% endfor %}
        {% else %}


        {% endif %}
    {% endif %}
    {% if community_data.is_private and reqeust.user != admin and not is_follow_user.exists %}
        <button type="button" id="request_btn"
                data-action="{% if not request_status %}send_request{% else %}remove_request{% endif %}">
            {% if request_status %}Request already sent{% else %}Send Request{% endif %}
        </button>

    {% endif %}{% endfor %}
</body>
</html>