<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Black List</title>
</head>
<body>
<h1>Black list</h1>
<table>
    <tr>
        <th>Username</th>
        <th>Reason</th>
        <th>Action</th>
    </tr>
    {% for banned_follower in banned_users %}
        <tr>
            <td>{{ banned_follower.username }}</td>
            <td>{{ banned_follower.reason }}</td>
            <td>
                <form method="post" action="">
                    {% for follower in followers %}
                        {% csrf_token %}
                        <input type="hidden" name="blacklist_id" value="{{ banned_follower.blacklist_id }}">
                    {% endfor %}
                    <input type="hidden" name="action" value="remove">
                    <button type="submit" name="remove_ban">Remove</button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
</body>
</html>
