<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    function BAN(instance, follower_id) {
        window.location.href = '/community/name-' + instance + '/admin-panel/put-ban/' +  follower_id + '/';
    }
</script>
<h2>Followers list</h2>
{% for follower in followers %}
    Username: {{ follower.user.username }} | ID: {{ follower.id }} <br>
    <form method="get" action="{% url 'put_ban' name=instance follower_id=follower.id %}">
        <input type="submit" value="SELECT" name="put_ban">
    </form>
{% endfor %}

</body>
</html>
