{% load i18n %}
{% load allauth %}
{% block content %}
    {% element h1 %}
        {% trans "Set Password" %}
    {% endelement %}
    {% url 'account_set_password' as action_url %}
    {% element form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {{ redirect_field }}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" name="action" %}
                {% trans 'Set Password' %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
{% endblock content %}
<input type="button" value="back" onclick="back()">
<script>
    function back() {
        window.location.href = "/change_data/"
    }
</script>