<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#follow-button').click(function () {
                var action = $(this).data('action');
                $.ajax({
                    type: 'POST',
                    data: {
                        action: action,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (response) {
                        if (response.is_following) {
                            $('#follow-button').data('action', 'unfollow').text('Unfollow: ' + response.followers_count);
                        } else {
                            $('#follow-button').data('action', 'follow').text('Follow: ' + response.followers_count);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            });
        });
    </script>
</head>
<body>
{% csrf_token %} <label id="username">{{ user.username }}</label><br>
{% if request.user != user %}

    <button type="button" id="follow-button" data-action="{% if is_following %}unfollow{% else %}follow{% endif %}">
        {% if is_following %}Unfollow{% else %}Follow{% endif %}: {{ user.followers_count }}
    </button>
    {#    todo add url and create list of followers#}
    <a>User Followers</a>
    <br>
{% else %}
    <a>My Followers: {{ user.followers_count }}</a>
{% endif %}
{% if request.user == user %}
    <label id="followings_id_user">My Followings: {{ user.followings_count }}</label><br>
{% else %}
    <label id="followings_id">User Followings: {{ user.followings_count }}</label><br>
{% endif %}
{% if user == request.user %}
    <a id="create_publication_id" href="{% url "new_publication" user.username %}">New Publication</a>
{% endif %}
{% for publication in publications %}
    <a id="publication_id" href="/publication/{{ publication.id }}">{{ publication.title }}</a>
{% endfor %}
</body>
</html>
