<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% csrf_token %}

{{ user.username }}<br>

<label>User follower:{{ user.followers_count }}</label>
<label>User followings:{{ user.followings_count }}</label><br>
{% if user == request.user %}
    <a href="{% url "new_publication" user.username %}">New Publication</a>
{% endif %}
{% for publication in publications %}
    {{ publication.id }}
    <a href="/user-page/{{ publication.author }}/{{ publication.id }}">{{ publication.title }}</a>
{% endfor %}
</body>
</html>
