{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if not request.user.is_authenticated %}
    <a href="accounts/login/">Sign In</a>
    <a href="accounts/signup/">Sign Up</a>
{% else %}
    <a href="accounts/logout/">Sign Out</a>
{% endif %}
<label>ok</label>

<h1>Programming Languages</h1>
<ul>
    {% for language in languages %}
        <li><a href="{% url 'tutorials' language.slug %}">{{ language.name }}</a></li>
    {% endfor %}
</ul>
</body>
</html>