<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            const notificationButton = $('#notification-button');
            const notificationList = $('#notification-list');
            const notificationCountSpan = $('#notification-count');
            const csrfToken = '{{ csrf_token }}';
            const socket = new WebSocket('ws://' + window.location.host + '/ws/notify/');

            socket.onmessage = function (event) {
                const data = JSON.parse(event.data);
                if (data.message) {
                    const notificationElement = $('<li>')
                        .html(data.message)
                        .attr('data-id', data.id);

                    if (!data.is_read) {
                        const markReadButton = $('<button>')
                            .text('Mark as Read')
                            .addClass('mark-read-button');

                        notificationElement.append(markReadButton);
                    }

                    notificationList.append(notificationElement);
                    notificationCountSpan.text(notificationList.children().length);
                }
            };

            socket.onclose = function (event) {
                console.error('WebSocket closed unexpectedly');
            };

            notificationButton.on('click', function () {
                notificationList.toggle();
            });

            notificationList.on('click', '.mark-read-button', function () {
                const notificationElement = $(this).closest('li');
                const notificationId = notificationElement.attr('data-id');

                $.ajax({
                    url: window.location.href,
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken
                    },
                    data: JSON.stringify({mark_read: true, id: notificationId}),
                    success: function (data) {
                        if (data.status === 'ok') {
                            notificationElement.remove();
                            notificationCountSpan.text(notificationList.children().length);
                        }
                    },
                    error: function (error) {
                        console.error('There was a problem with the AJAX request:', error);
                    }
                });
            });
            $('#mark-read-all-btn').click(function () {
                $.ajax({
                    url: window.location.href,
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken
                    },
                    data: JSON.stringify({mark_read_all: true}),
                    success: function (data) {
                        if (data.status === 'ok') {
                            {% csrf_token %}
                            notificationList.empty();
                            notificationCountSpan.text(notificationList.children().length);
                        }
                    },
                    error: function (error) {
                        console.error('There was a problem with the AJAX request:', error);
                    }
                });
            });
        });

        $(document).ready(function () {
            $('#feedbackForm').submit(function (event) {
                event.preventDefault();
                var formData = $(this).serialize();
                formData += '&csrfmiddlewaretoken={{ csrf_token }}';
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: formData,
                    success: function (response) {
                        $('#feedback-container').html(response.feedback_html);

                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            });

        });
    </script>
    <style>
        #notification-list li {
            white-space: nowrap;
        }

        @media (max-width: 20px) {
            #notification-list li:not(:empty) {
                word-wrap: break-word;
                white-space: normal;
            }
        }


        #top_bar ul {
            list-style: none;
            border-left-width: thick;
        }

        #top_bar div li {
            display: inline-block;
            margin: 0 0.15em;
            vertical-align: middle;
            break-inside: auto;

        }

    </style>

</head>

<body>

<nav id="top_bar">

    <div>
        <div id="notification-section">
            {% include "main_page/search_bar.html" %}
            <button id="mark-read-all-btn" class="mark-read-all-btn" value="mark-read-all-btn">Read All</button>
            <button id="notification-button">
                Notifications (<span id="notification-count">{{ notifications.count }}</span>)
            </button>

            <ul id="notification-list" style="display: none;">
                {% if not notifications %}
                    There is not any notifications yet
                {% endif %}
                {% for notification in notifications %}
                    <li data-id="{{ notification.id }}">
                        {{ notification.message|safe }}
                        <button class="mark-read-button">Mark as Read</button>

                    </li>
                {% endfor %}
            </ul>


        </div>
        {% if not request.user.is_authenticated %}
            <a href="/login/">Sign In</a>
            <a href="/signup/">Sign Up</a>
        {% else %}
            <a href="/logout/">Sign Out</a>
        {% endif %}
        {% if request.user.is_authenticated %}
            <li><a href="/user-page/{{ request.user.username }}">Profile</a></li>
        {% endif %}
        {% for lang, url in prog_lang.items %}
            <li><a href="{{ url }}">{{ lang }}</a></li>
        {% endfor %}


        <li><a href="/threads/">Threads page</a></li>


        <a href="/make-friends/">New friends</a>


        <a href="/community/all/">Communities</a>
    </div>
</nav>


{% for content in contents %}
    <label><img src="{{ content.photo }}" alt=""><br> <a href="{{ content.link }}">{{ content.title }}</a><br></label>


{% endfor %}


</body>
</html>
