{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if not request.user.is_authenticated %}
    <a href="/login/">Sign In</a>
    <a href="/signup/">Sign Up</a>
{% else %}
    <a href="/logout/">Sign Out</a>
{% endif %}
<label>ok</label>

{% if request.user.is_authenticated %}
    <ul>
        <li><a href="/user-page/{{ request.user.username }}">Profile</a></li>
    </ul>
{% endif %}
<h1>Programming Languages</h1>

<ul>
    {% for lang, url in prog_lang.items %}
        <li><a href="{{ url }}">{{ lang }}</a></li>
    {% endfor %}
</ul>
<h1>Threads</h1>
<ul>
    <li><a href="/threads/">Threads page</a></li>
</ul>

<h1>New friends</h1>
<li><a href="/make-friends/">New friends</a></li>
</body>
</html>