<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script defer src="{% static 'search_bar.js' %}">

    </script>

</head>
<body>
<form action="/search/"  method="GET">
    <label for="search">Search:</label>
    <input type="text" id="search" name="search" placeholder="Search...">
    <button type="submit">Search</button>

</form>
</body>
</html>