<style>
    .scrollable-text {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        max-height: 420px;
        overflow-y: auto;
        padding-right: 10px;
    }


    .scrollable-text::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    .scrollable-text::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 4px;
    }

    .scrollable-text::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.7);
    }

    .scrollable-text::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    .scrollable-text::-webkit-scrollbar-thumb {
        margin-right: 2px;
    }
</style>
<script>
    $(document).ready(function () {
        $('#feedback-input').val('');
        $('#feedback-container').on('click', '.remove-feedback-btn', function () {
            var feedbackID = $(this).siblings('.feedback-text').data('feedback-id');
            var feedbackContainer = $(this).closest('.feedback');
            $.ajax({
                type: 'POST',
                url: '/remove-comments-p/' + feedbackID + '/',
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function (response) {
                    feedbackContainer.remove();
                },
            });
        });
    });

</script>

{% if user.is_authenticated %}
    <textarea name="feedback" id="feedback-input" placeholder=" Add feedback here(max. 255 characters)" maxlength="268"
              style="width: 100%; max-width: 750px; height: 100px; max-height: 150px ;vertical-align: top; resize: none; border-radius: 15px;"
              required></textarea><br>
    <br>
    <input class="btn btn-success" type="submit" value="Submit">
    <br>
    <br>

{% else %}
    <p>You must be a client of this lawyer to provide feedback.</p>
{% endif %}

<div class="scrollable-text" id="feedback-container" style="overflow-y: scroll; height: 300px;">
    {% if comments  %}
        {% for content in comments %}
            <div class="feedback">
                <h5>User: {{ content.user.username }} | Article:{{ content.content_type.title }}</h5>
                <span class="feedback-text" style="" data-feedback-id="{{ content.id }}">{{ content.context }}</span>
                {% if user.id == content.user.id %}
                    <button
                            class="btn remove-feedback-btn"
                            style="width: 100%; max-width: 75px; height: 30px; font-size: 12px; margin-top: 5px"
                            type="button">Remove

                    </button>
                {% endif %}
                <br>
                <br>
            </div>
        {% endfor %}
    {% else %}
        There are no feedbacks yet.<br>
    {% endif %}
</div>
