<form method="get">
    {% if request.user == user %}
        <input type="submit" value="Edit" name="edit">
    {% endif %}
    {% for context in model_class %}
        <h1>{{ context.title }} | {{ author }} | {{ context.published_at }}</h1>
        {{ context.context }}
        {% if context.image %}
            {{ context.image }}
        {% endif %}
        {% if context.file %}
            {{ context.file }}
        {% endif %}
    {% endfor %}
</form>
{% include 'main_page/answers.html' with comments=comments content_type_id=content_type.id %}