<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://malsup.github.io/jquery.form.js"></script>
<script>
    $(document).ready(function () {
        $('#feedbackForm').submit(function (event) {
            event.preventDefault();
            var formData = $(this).serialize();
            formData += '&csrfmiddlewaretoken={{ csrf_token }}';
            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: formData,
                success: function (response) {
                    $('#feedback-container').html(response.feedback_html);

                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });

    });
</script>
<form method="get">
    {% if request.user == user %}
        <input type="submit" value="Edit" name="edit">
    {% endif %}
    {% for context in model_class %}
        <h1>{{ context.title }} | {{ author }} | {{ context.published_at }}</h1>
        {{ context.context }}
        {% if context.image %}
            {{ context.image }}
        {% endif %}
        {% if context.file %}
            {{ context.file }}
        {% endif %}
    {% endfor %}
</form>
<form id="feedbackForm" action="/post-comments/{{ model_detail.id }}/{{ content_type.id }}/" method="POST">
    <div id="feedback-container">
        {% csrf_token %}
        {% include 'main_page/answers.html' %}

    </div>
    <br>
</form>